.vscode/
communities/
out/
*.txt
*.exe
cmd/dominationScore/settings.json
scripts/config.jl
cmd/datasetGenerator/settings.json
/scripts/back/
back/
exp/
run-api.cmd
cmd/aminer/settings.json
community/non-overlapping/times.out
community/non-overlapping/*.csv
community/non-overlapping/run.js
community/non-overlapping/run.out
community/overlapping/times.out
community/overlapping/*.csv
community/overlapping/run.js
community/overlapping/run.out
community/overlapping/run-h3.out
community/non-overlapping/run-h3.out
community/non-overlapping/config.jl
community/overlapping/config.jl
community/non-overlapping/runtime-config.jl
community/overlapping/runtime-config.jl
