.vscode/
communities/
out/
*.txt
*.exe
*.csv
*.xlsx
cmd/dominationScore/settings.json
scripts/config.jl
cmd/datasetGenerator/settings.json
/scripts/back/
back/
exp/
run-api.cmd
cmd/aminer/settings.json
community/non-overlapping/times.out
community/non-overlapping/*.csv
community/non-overlapping/run.js
community/non-overlapping/*.out
community/overlapping/times.out
community/overlapping/*.csv
community/overlapping/run.js
community/overlapping/*.out
community/overlapping/run-h3.out
community/non-overlapping/run-h3.out
community/non-overlapping/config.jl
community/overlapping/config.jl
community/non-overlapping/runtime-config.jl
community/overlapping/runtime-config.jl
egograph.dot
egograph.gml
cmd/example/data.tsv
cmd/example/edges.TSV
cmd/example/run.bat
cmd/example/settings.json
community/search/config.toml
community/overlapping/run-final-3h.log
community/non-overlapping/run-final-3h.log
community/search/plot_1.svg
